@import './common';
@import './example';


.search-form {
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    background-color: #1630a5;
}
.container{
    width: 100%;
    padding: 20px;
}

.search-input {
    height: 35px;
    font-size: 18px;
    padding: 15px;
    border: none;
    width: 300px;
    border-radius: 4px 0 0 4px;
    background: #ffffff;

}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: rgb(88, 79, 79);
}


.search-btn {
    height: 35px;
    padding: 10px 10px;
    border: none;
    color: #303030;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    background: #f5f2eb;
        
}

.search-btn:hover,
.search-btn:focus {
    padding: 11px;
    border: 1px solid #ffffff;
}

.icon:hover,
.icon:focus {
    fill: rgb(32, 8, 247);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 20px;
    justify-content: center;
}

.photo-card {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 120px) / 4);
    margin: 15px;
    border-radius: 0px 0px 4px 4px;
        background: #ffffff;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.images {
    width: 100%;
    height: 200px;
    max-width: unset;
    object-fit: cover;
}
.info {
    display: flex;
    flex-basis: calc((100% - 120px) / 4);
     margin-left: 10px;
     margin-right: 10px;
    justify-content: space-between;
}

.info-item{
display: flex;
text-align: center;
font-weight: 400;
flex-direction: column;
}


